# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#Other

.DS_Store
data/torch
**/data/health
**/data/socsci


.Rproj.user
tmp/*
code/tmp/
results/lda_model_*
results/topic_dist*
results/doc_dist*
results/bak/*
results/vectorizer_socsci.p
results/vectorizer_*
app/server

runs/
results/lda_runs/*
results/lda_fields/vectorizer_*
results/lda_fields/lda_model_*
data/abstracts.txt
data/citation_links.txt
data/Citations_SocSci.xlsx
data/Cited_references.txt
data/CWTS Leiden Ranking 2020 - Micro-level fields.xlsx
data/keywords.txt
data/raw_citations.txt
data/subfields.txt
data/titles.txt
data/unique_authors.csv

figures/data
code/9_embeddings/data/
code/9_embeddings/data/coauthors/socsci/processed/data.pt
.pt
code/9_embeddings/models/*
results/embeddings/co_authors_embedding_socsci.p


code/19_networks/data/
